---
// First Party and Third Party Plugins
import qs from "qs";

// Types and TypeGuards
import type { GetStaticPaths } from "astro";
import type { CategoryPageItem } from "../../../interfaces/category-page";
import type {
  BreadcrumbData,
  Faqs,
  GameFilters,
  TProviderAttributesOnly,
  UserCountry,
} from "../../../interfaces/common/types";

// Layouts
import MainLayout from "../../layouts/MainLayout.astro";

// Stores

// Queries
import { categoryPagesQs } from "../../../qs/categoryPages";

// Components
import ContentBlock from "../../components/blocks/contentBlock.astro";
import FaqListBlock from "../../components/blocks/faqListBlock.astro";
import GameListBlock from "../../components/blocks/gameListBlock.svelte";
import CasinoSidebar from "../../components/casino/casinoSidebar.astro";
import IntroWithImage from "../../components/general/introWithImage.astro";

// Helpers
import type { TUserGame, TUserGameProvider } from "../../../interfaces/games";
import fetchApi from "../../../lib/strapi";
import { gamesQs } from "../../../qs/games";
import { urlTranslate } from "../../../utils/data-store.util";
import Quicklinks from "../../components/helpers/quicklinks.svelte";
import Breadcrumbs from "../../components/layout/breadcrumbs.astro";

import {
  slotProviders as slotProvidersResponse,
  getTranslations as translationResponse,
} from "../../../utils/api-requests";
import { layoutQs } from "../../../qs/layout";
import type { LayoutData } from "../../../interfaces/layout";
import {
   getUserCountry,
  userCountryHandler,
} from "../../../utils/ip-request";


const userCountry = await  getUserCountry();
const country = await userCountryHandler(
  userCountry?.location?.country.toLowerCase() || ""
);
const casinoCountry = country?.sc || "";

const slug = Astro.params.slug as string;

const translationStore = await translationResponse();
const slotProviders = await slotProvidersResponse();

// Fetch Game Providers Filter
const gameProviders = await fetchApi<{
  id: number;
  attributes: {
    filterProviders: {
      data: TProviderAttributesOnly[];
    };
  };
}>({
  endpoint: "layout",
  wrappedByKey: "data",
  query: `?fields[0]=id&populate[filterProviders][fields][0]=slug&populate[filterProviders][populate][images][fields][0]=url`,
});

const query = qs.stringify(categoryPagesQs(slug), { encodeValuesOnly: true });

let gamesQueryObj: GameFilters = {
  limit: 18,
  sort: "views:desc",
  page: 1,
  providers: [],
  categories: [],
  author: "",
};

// Request to the Fetch Function to get the custom page slugs from the API
const categoryPage = await fetchApi<CategoryPageItem[]>({
  endpoint: "slot-categories",
  wrappedByKey: "data",
  query: `?${query}`,
});

let slotCategories: TUserGameProvider[] = [];

slotCategories.push({ title: categoryPage[0]?.attributes?.slug, slug });

gamesQueryObj = {
  ...gamesQueryObj,
  categories: [slug],
};

const gamesQuery = qs.stringify(gamesQs(gamesQueryObj), {
  encodeValuesOnly: true,
});

const slotCategoriesGames = await fetchApi<any[]>({
  endpoint: "games",
  wrappedByKey: "data",
  query: `?${gamesQuery}`,
});

const modifiedGames: TUserGame[] = slotCategoriesGames.map((elem) => {
  return {
    id: elem.id,
    ...elem.attributes,
    images: {
      url: elem.attributes.images.data.attributes.url,
    },
    provider: {
      slug: elem.attributes.provider.data.attributes.slug,
      title: elem.attributes.provider.data.attributes.title,
    },
  };
});

let combinedSchema = [];

// FAQs Schema
if (
  categoryPage[0]?.attributes?.faqs &&
  categoryPage[0]?.attributes?.faqs.length > 0
) {
  const faqSchema = {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    mainEntityOfPage: {
      "@type": "WebPage",
      url: `${import.meta.env.FULL_URL}${urlTranslate[import.meta.env.SITE_ID as keyof typeof urlTranslate]["category-pages"]}/${slug}`,
      "@id": `${import.meta.env.FULL_URL}${urlTranslate[import.meta.env.SITE_ID as keyof typeof urlTranslate]["category-pages"]}/${slug}`,
    },
    mainEntity: categoryPage[0]?.attributes?.faqs?.map(
      ({ answer, question }) => {
        return {
          "@type": "Question",
          name: `${question}`,
          acceptedAnswer: {
            "@type": "Answer",
            text: `${answer}`,
          },
        };
      }
    ),
  };
  combinedSchema.push(faqSchema);
}

// Create block variable for GameList Component
const introBlock = {
  heading: categoryPage[0]?.attributes?.IntroductionWithImage?.heading,
  introduction:
    categoryPage[0]?.attributes?.IntroductionWithImage?.introduction,
  image: categoryPage[0]?.attributes?.IntroductionWithImage?.image,
};

const gameBlock = {
  numberOfGames: 18,
  sortBy: "Most Popular",
  showGameFilterPanel: true,
  showGameMoreButton: true,
  gameCategories: [
    {
      slotCategories: {
        data: {
          attributes: {
            slug: slug,
          },
        },
      },
    },
  ],
  gameProviders: [],
};

// SEO Object
const seo = {
  pageTitle: categoryPage[0]?.attributes?.seo?.metaTitle,
  metaDescription: categoryPage[0]?.attributes?.seo?.metaDescription,
  url: `${import.meta.env.FULL_URL}${urlTranslate[import.meta.env.SITE_ID as keyof typeof urlTranslate]["category-pages"]}/${slug}`,
};

// Tell the browser to always check the freshness of the cache
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);

// CDN Cache Control
Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=300, s-maxage=3600, stale-while-revalidate=30"
);
---

<MainLayout
  seoData={seo}
  crumbLocation="categories"
  crumbTitle={categoryPage[0]?.attributes?.title}
  crumbUrl={`${import.meta.env.FULL_URL}${urlTranslate[import.meta.env.SITE_ID as keyof typeof urlTranslate]["category-pages"]}/${slug}`}
  otherSchema={combinedSchema}
>
  <Breadcrumbs
    breadcrumbs={[
      {
        breadCrumbText: categoryPage[0]?.attributes?.title,
        breadCrumbUrl: null,
      },
    ]}
    breadcrumbKey="categoriesBreadcrumbs"
  />
  <div class="featured-background curve">
    <IntroWithImage
      data={introBlock}
      timeDate={categoryPage[0]?.attributes?.updatedAt}
      authorData={undefined}
      {translationStore}
    />
    <GameListBlock
      data={gameBlock}
      initialGames={modifiedGames}
      gameProviders={gameProviders.attributes.filterProviders
        ? gameProviders.attributes.filterProviders.data
        : []}
      {slotCategories}
      translations={translationStore}
      {slotProviders}
      client:load
    />
  </div>
  <div class="relative xl:container px-2">
    <div class="flex flex-col gap-x-8 mt-10 md:flex-row">
      <div class="slot-machine-content order-last md:order-first">
        <Quicklinks data={categoryPage[0]} block="" {translationStore} />
        {
          categoryPage[0]?.attributes?.content1 && (
            <ContentBlock pageContent={categoryPage[0]?.attributes?.content1} />
          )
        }
        {
          categoryPage[0]?.attributes?.content2 && (
            <ContentBlock pageContent={categoryPage[0]?.attributes?.content2} />
          )
        }

        {
          categoryPage[0]?.attributes?.content3 && (
            <ContentBlock pageContent={categoryPage[0]?.attributes?.content3} />
          )
        }
        {
          categoryPage[0]?.attributes?.faqs.length > 0 && (
            <div class="content">
              <h2 class="mb-4">{translationStore?.faq}</h2>

              {categoryPage[0]?.attributes?.faqs.map((faq: Faqs) => (
                <FaqListBlock data={faq} />
              ))}
            </div>
          )
        }
      </div>
      <div class="basis-[315px] shrink-0 order-first mb-5 order-last">
        <CasinoSidebar {casinoCountry} {translationStore} />
      </div>
    </div>
  </div>
</MainLayout>
