---

import qs from 'qs'
import MainLayout from '../../../layouts/MainLayout.astro';
import { casinopageQs } from "../../../../qs/casinopage.ts"
import fetchApi from '../../../../lib/strapi';
import type { Casinopage } from "../../../../interfaces/casinopage.ts"
import TimeDate from '../../../components/helpers/timeDate.svelte';
import HeaderAuthor from '../../../components/helpers/headerAuthor.astro';
import Image from '../../../components/helpers/images.astro';
import Link from '../../../components/helpers/link.astro';
import ReadOnlyRatings from '../../../components/helpers/readOnlyRatings.astro';
import { getTranslations } from '../../../../stores/addTranslations';
import type { TranslationData } from '../../../../interfaces/common/types';

//Images
// import PoundsImg from "~icons/kensho-icons/pounds-img"
// import MoneyBag from "~icons/kensho-icons/money-bag-black"
// import GiftBag from "~icons/kensho-icons/gift-bag-black"

const { slug } = Astro.params; //get the casino slug from the page url
const query = qs.stringify(casinopageQs(slug), {encodeValuesOnly: true})

const casinoPage = await fetchApi<Casinopage[]>({
	endpoint: 'casinos',
    wrappedByKey: 'data',
    query: `?${query}`
})

const translationStore: any = getTranslations.get()

---
<MainLayout pageTitle={casinoPage[0]?.attributes?.seo?.metaTitle}>
    <div class="casino-page">
        <div class="iframe-bkg pb-3">
            <div class="section-wrapper">
                <div class="row heading-date">
				    <div class="text-white">
                        <h1 class="!m-0 text-white">
                            {casinoPage[0]?.attributes?.heading}
                        </h1>
                        <div class="flex items-center gap-2">
                            <TimeDate timeDate={casinoPage[0]?.attributes?.updatedAt} />
                            <HeaderAuthor author={casinoPage[0]?.attributes?.author} /> 
                        </div>
                    </div>
                </div>

                <div class="grid md:grid-cols-4 gap-5 mt-5 md:mt-12">
                    <div class="bg-white flex flex-col p-3 rounded relative z-10">
                        <div>

                            <Link
                                href={casinoPage[0]?.attributes?.casinoBonus?.bonusUrl}
                                classes="block rounded border border-[transparent]"
                                rel="sponsored"
                                image={{ src:casinoPage[0]?.attributes?.images?.data?.attributes?.url, 
                                    classes:"w-full rounded", 
                                    alt:casinoPage[0]?.attributes?.title, 
                                    imageWidth:330, 
                                    imageHeight:150 }}
                            />
                        </div>
                        <div class="mt-2 flex items-center justify-center">
                            <ReadOnlyRatings avgRating={casinoPage[0]?.attributes?.ratingAvg} showVotes={true} />
                        </div>
                        <div class="flex flex-col my-10">
                            <div class="flex items-center mb-3">
                                <!-- <span class="block"><PoundsImg width="25px" fill="#01579B" /></span> -->
                                <div class="flex ml-5 font-bold">
                                    <Link rel="sponsored" type="external" class="text-decoration-underline text-blue-300"
                                        href={casinoPage[0]?.attributes?.casinoBonus?.bonusUrl}>
                                        {casinoPage[0]?.attributes?.casinoBonus?.bonusLabel}
                                    </Link>
                                </div>
                            </div>
                            <table class="casino-details-box">
							<tbody>
								<tr class="border-b-0">
									<td>
										<div class="flex items-center">
											<!-- <span class="block mr-5"><MoneyBag width="25px" fill="#01579B" /></span> -->
											<span class="bonus-heading">{translationStore.reloadBonus}</span>
										</div>
									</td>
									<td>
										<div class="bonus-value font-bold pl-1">
											{ casinoPage[0]?.attributes?.bonusSection.bonusAmount && `${casinoPage[0]?.attributes?.bonusSection.bonusAmount}€`}
											{(casinoPage[0]?.attributes?.bonusSection?.cashBack && casinoPage[0]?.attributes?.bonusSection?.bonusAmount) && '+ <br />'}
											{casinoPage[0]?.attributes?.bonusSection?.cashBack && `${casinoPage[0]?.attributes?.bonusSection?.cashBack}`}
											{((casinoPage[0]?.attributes?.bonusSection?.cashBack || casinoPage[0]?.attributes?.bonusSection?.bonusAmount) && casinoPage[0]?.attributes?.bonusSection?.freeSpin) && <br />}
											{casinoPage[0]?.attributes?.bonusSection?.freeSpin && `${casinoPage[0]?.attributes?.bonusSection?.freeSpin}`}
										</div>
									</td>
								</tr>
								<tr class="border-b-0">
									<td>
										<div class="flex items-center">
											<!-- <span class="block mr-5"><GiftBag width="25px" fill="#01579B" /></span> -->
											<span class="bonus-heading">{translationStore.withoutDeposit}</span>
										</div>
									</td>
									<td>
										<div class="bonus-value font-bold pl-1">
											{casinoPage[0]?.attributes?.noDepositSection?.bonusAmount && `${casinoPage[0]?.attributes?.noDepositSection?.bonusAmount || 0}€ ${translationStore.withoutDeposit}`}
											{(casinoPage[0]?.attributes?.noDepositSection && casinoPage[0]?.attributes?.noDepositSection?.bonusAmount && casinoPage[0]?.attributes?.freeSpinsSection && casinoPage[0]?.attributes?.freeSpinsSection?.bonusAmount) && <span>+</span><br />}
											{casinoPage[0]?.attributes?.freeSpinsSection && casinoPage[0]?.attributes?.freeSpinsSection?.bonusAmount && `${casinoPage[0]?.attributes?.freeSpinsSection?.bonusAmount || 0} ${translationStore.freeSpins}`}
										</div>
									</td>
								</tr>
							</tbody>
						</table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</MainLayout>

<style lang="scss">
	.iframe-bkg {
		@apply curve rounded-b-3xl;
	}

	.casino-details-box {
		font-size: 14px;
		table {
			border: none;
		}

		td {
			border: none;
			padding: 10px 0px;
		}
	}

	h1,
	h5 {
		margin-bottom: 0px !important;
	}

	.terms-text {
		p {
			font-size: 12px !important;
		}
	}

	.casino-table-div {
		table th {
			background-color: transparent;
		}

		table td {
			padding: 5px;
		}

		table td:last-child {
			border: none;
		}

		table tr {
			border-bottom-color: #000;
		}
	}

	.tb-summary-heading {
		@apply -mt-2 -mr-2 -ml-2 mb-2 rounded-t-lg flex p-3 bg-purple-700 items-center;
	}

	.approval-author {
		@apply flex flex-col md:flex-row items-center approval;
	}

	.approval-author-details {
		@apply flex flex-col items-center md:items-start text-xs;
	}

	.testimonial-wrapper {
		background: #eef4f9;
	}

	.payment-icon {
		@apply block bg-white rounded p-1 mr-2 mb-2;
	}

	.casino-summary-wrapper {
		background: rgba(255, 255, 255, 0.3);
		box-shadow: 0px 0px 12px rgba(63, 230, 252, 0.6);
		backdrop-filter: blur(6px);
		border: 1px solid rgba(255, 255, 255, 0.3);
	}
	.casino-page {
		position: relative;

		//Sticky Header SCSS
		.sticky-casino-header {
			display: none;
			bottom: 10px;
			left: 10px;
			background-color: #fff;
			z-index: 9999;
			border: 1px solid #00bcd4;
			border-radius: 4px;

			& > div {
				flex-direction: column;
				padding: 0;

				.bonus-text {
					text-align: center;
					display: flex;
					align-items: center;
					align-self: center;
					padding: 10px;

					.termsAndConditions {
						font-weight: 400;
						font-size: 8px;
						font-style: italic;
						text-decoration: underline dotted;
					}
				}

				.website-btn {
					:global(a) {
						text-align: center;
						align-items: center;
						display: flex;
						text-transform: uppercase;
						border-radius: 0;
						color: white;
						text-decoration: none;
					}
				}
			}

			@media (min-width: theme('screens.md')) {
				top: 0px;
				left: initial;
				width: 100%;
				height: 100px;
				border: none;
				border-radius: 0px;

				& > div {
					flex-direction: row;

					.bonus-text {
						padding: 0;
					}
				}
			}
		}

		// this is in a global here so the unused css doesn't get purged
		:global(.sticky-casino-header.show) {
			display: block !important;
		}

		//TimeDate area
		.heading-date {
			:global(.sub-header) {
				margin-bottom: 0 !important;
			}
		}

		//Casino Details Section
		.casino-details {
			border: 1px solid rgb(198, 203, 207);

			.logo-perks {
				display: flex;
				align-items: center;
				justify-content: center;

				.casino-img-and-rating {
					display: flex;
					flex-direction: column;
					align-items: center;
				}

				.bonus-heading {
					text-transform: uppercase;
					font-size: 12px;
				}

				.bonus-value {
					font-weight: bold;
					color: #01579b;
					font-size: 14px;
				}

				@media (min-width: theme('screens.md')) {
					justify-content: flex-start;
				}
			}

			.casino-detail-testimonial {
				margin-top: 20px;

				.testimonial {
					color: rgb(71, 80, 89);
					font-size: 15px;
					padding-left: 50px;
					padding-top: 15px;
					background-size: 30px;
					background-repeat: no-repeat;
					background-image: url(data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M464%20256h-80v-64a64.06%2064.06%200%200%201%2064-64h8a23.94%2023.94%200%200%200%2024-23.88V56a23.94%2023.94%200%200%200-23.88-24H448a160%20160%200%200%200-160%20160v240a48%2048%200%200%200%2048%2048h128a48%2048%200%200%200%2048-48V304a48%2048%200%200%200-48-48z%22%20style%3D%22opacity%3A0.4%22%3E%3C%2Fpath%3E%3Cpath%20d%3D%22M176%20256H96v-64a64.06%2064.06%200%200%201%2064-64h8a23.94%2023.94%200%200%200%2024-23.88V56a23.94%2023.94%200%200%200-23.88-24H160A160%20160%200%200%200%200%20192v240a48%2048%200%200%200%2048%2048h128a48%2048%200%200%200%2048-48V304a48%2048%200%200%200-48-48z%22%20class%3D%22quote-left_svg__fa-primary%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
				}

				.testimonial_author {
					font-size: 12px;
					align-items: flex-start;
					justify-content: center;

					.approval {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						max-width: 230px;

						.review_author_img {
							width: 60px;
							height: 60px;
							margin-right: 10px;
							overflow: hidden;
							flex-shrink: 0;

							:global(img) {
								border-radius: 50%;
							}
						}

						.details-container {
							align-items: center;
							justify-content: center;

							.approver-details {
								text-align: center;
							}
						}
					}
					@media (min-width: theme('screens.md')) {
						justify-content: space-around;
						margin-left: 50px;

						.approval {
							flex-direction: row;

							.details-container {
								align-items: flex-start;

								.approver-details {
									text-align: left;
								}
							}
						}
					}

					@media (min-width: theme('screens.lg')) {
						justify-content: space-between;

						.approval {
						}
					}
				}

				@media (max-width: 990px) {
					.testimonial_author {
						justify-content: space-between;
						margin: 0px 20px;
					}
				}

				@media (max-width: 490px) {
					.testimonial_author {
						justify-content: space-around;
					}
				}

				@media (min-width: theme('screens.sm')) {
				}

				@media (min-width: theme('screens.md')) {
					margin-top: 0px;
				}
			}

			:global(.rating-container) {
				flex-direction: row;
				margin: 0;
				padding: 0;
				align-items: center;
				justify-content: center;

				:global(.rating-text) {
					margin-left: 10px;
					font-size: 12px;
				}
			}
		}

		//Casino Summary Section
		.casino-summary {
			margin: 20px 0;
			border-radius: 4px;
			border: 1px solid silver;
			background: white;

			h3 {
				margin: 0;
				width: 100%;
				color: #01579b;
				padding: 10px;
				background: #c6cbcf;
			}

			table {
				margin: 0;
				border: none;
				box-shadow: none;
				width: 100%;

				tbody {
					tr {
						display: flex;
						border-bottom: 1px solid rgb(198, 203, 207);
						justify-content: space-between;
						padding: 5px;

						td {
							text-align: end;
							border: none;
						}
					}
				}

				td {
					border: none;
				}
			}

			.casino-summary-container {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				font-size: 14px;

				@media (min-width: theme('screens.xl')) {
					gap: 10px;
					margin: 10px;
					flex-wrap: nowrap;
				}

				.casino-table-div {
					flex-basis: 100%;
					margin: 10px 10px 30px;
					height: fit-content;
					border: none;

					@media (max-width: theme('screens.sm')) {
						margin: 10px 10px 5px;
					}

					.characteristics {
						font-weight: bold;
					}

					&.providers-div {
						display: flex;
						flex-direction: column;

						.providers-inner {
							@media (min-width: theme('screens.lg')) {
								min-height: 100px;
							}

							// tr {
							// 	border-bottom: none;
							// }

							.provider-img-container {
								display: flex;
								flex-wrap: wrap;
								padding: 5px;
								gap: 2px;
								justify-content: center;
								max-width: 235px;
								margin: 0 auto;

								:global(svg) {
									display: inline-block;
									margin: 2px;
									background: var(--bs-payment-bkg);
									border-radius: 4px !important;
									border: 1px solid var(--bs-payment-border) !important;
									// box-shadow: 0 0.125rem 0.25rem rgba(var(theme('colors.black')), 0.075);

									&:last-child {
										border: none !important;
									}
								}
							}
						}
					}

					&.bonus-div {
						thead {
						}

						tbody {
							th {
								margin-right: 20px;
								text-transform: capitalize;
								font-size: 14px;
								font-weight: normal;
							}
							tr {
								td {
									cursor: pointer;
									font-size: 14px;
									font-weight: bold;

									a {
										text-decoration: underline;
									}
								}
							}
						}
					}

					&.features-div {
						td {
							flex-basis: 90%;
							text-align: left;
						}
					}

					&.general-div {
						th {
							font-weight: normal;
						}

						td {
							font-weight: bold;
						}
					}

					@media (min-width: theme('screens.sm')) {
						flex-basis: 45%;
					}

					@media (min-width: theme('screens.xl')) {
						margin: 0;
						flex-basis: auto;

						&.providers-div {
							min-width: 230px;
						}
						&.general-div {
							min-width: 280px;
						}
					}

					.summary-table-heading {
						gap: 5%;
						display: flex;
						padding: 0 20px;

						border: 1px solid #c6cbcf;
						border-radius: 4px;
						background: #e0e3e6;

						:global(svg) {
							align-self: center;
							fill: #01579b;
							width: 15px;
							height: 15px;
						}

						h5 {
							text-transform: capitalize;
							font-size: 14px;
							color: #475059;
							margin: 10px 0;
						}
					}
				}

				:global(.provider-container) {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-wrap: wrap;

					:global(img) {
						display: inline-block;
						width: 45px;
						height: 28px;
						border-radius: 4px;
						border: 1px solid var(--bs-provider-border);
						margin: 3px;
						// box-shadow: 0 0.125rem 0.25rem rgba(var(theme('colors.black')), 0.075);
					}
				}
			}
		}

		//Casino Games Section
		.casino-games {
			display: flex;
			flex-wrap: wrap;
			-webkit-box-pack: center;
			justify-content: center;
			margin-top: 20px;

			:global(.gameCard) {
				max-width: 178px !important;
				min-width: auto !important;
				margin: 2px;

				:global(card-title) {
					font-size: 14px;
				}
			}
		}

		//Comparison Table
		.comparison-table {
			.table {
				--bs-table-color: #475059;
				--bs-table-bg: theme('colors.white');
				tr {
					&:first-of-type {
						td {
							padding: 0;
						}
					}

					td {
						width: 20%;
						text-align: center;
						vertical-align: middle;

						&:first-of-type {
							text-transform: uppercase;
							font-weight: bold;
						}

						.software-list {
							:global(img) {
								margin: 5px;
								border-radius: 4px;
								border: 1px solid lightgray;
							}
						}

						:global(.review-link) {
							font-size: 10px;
							color: #475059;
							text-decoration: underline dotted;
							margin-top: 5px;
						}
					}
				}
			}
		}

		:global(.author-wrapper) {
			margin-top: 20px;
		}
	}

	//Tooltip Overrides
	:global(.tooltip) {
		:global(img) {
			margin: 3px;
			border-radius: 4px;
		}
	}

	:global(.custom-tooltip) {
		z-index: 9999;
	}

	:global(h1),
	:global(h2),
	:global(h3),
	:global(h4),
	:global(h5),
	:global(h6),
	:global(ul) {
		@apply mb-4 #{!important};
	}
	:global(h1),
	:global(h2),
	:global(h3),
	:global(h4),
	:global(h5),
	:global(h6) {
		@apply mt-10;
	}

    :global(.blog-image) {
				display: block;
				width: 100%;
				opacity: 0.9;
				transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
			}
</style>