---
import qs from 'qs'
import fetchApi from '../../../lib/strapi';
import MainLayout from '../../layouts/MainLayout.astro';
import { urlTranslate } from '../../../utils/data-store.util'
import {blogpageQs} from "../../../qs/blog-page"
import type { Blog } from "../../../interfaces/blog"
import { blogcardQs } from "../../../qs/blog-cards"
import BlogCard from '../../components/blogs/blogCard.astro';
import Images from '../../components/helpers/images.astro';
import TimeDate from '../../components/helpers/timeDate.svelte';

const {slug} = Astro.params
//get the single blog content
const query = qs.stringify(blogpageQs(slug), {encodeValuesOnly: true})
const blog = await fetchApi<Blog[]>({
	endpoint: 'blogs',
    wrappedByKey: 'data',
    query: `?${query}`
})

// get blog cards for side menu
const blogCardquery = qs.stringify(blogcardQs(3), {encodeValuesOnly: true})
const blogCards = await fetchApi<Blog[]>({
	endpoint: 'blogs',
    wrappedByKey: 'data',
    query: `?${blogCardquery}`
})

const siteID = import.meta.env.SITE_ID
const siteURL = import.meta.env.FULL_URL
const canonical = `${siteURL}${urlTranslate[siteID as keyof typeof urlTranslate]['blog-pages']}/${blog[0]?.attributes?.slug}`

//set page seo data
let seo = {
    pageTitle: blog[0]?.attributes?.seo?.metaTitle,
    metaDescription: blog[0]?.attributes?.seo?.metaDescription,
    url: canonical
}

---

<MainLayout seoData={seo}>
    <div class="blog-bg relative after:content-['']">
        <div class="relative xl:container px-2 pb-5 pt-4">
            <div class="md:flex md:-mx-3 [&>*]:px-3">
                <div class="md:w-4/6">
                    <h1>
                        {blog[0]?.attributes?.title}
                    </h1>
                    <span class="text-white flex items-center gap-2 mb-4">
                        <TimeDate timeDate={blog[0]?.attributes?.createdAt} />
                        <!-- <HeaderAuthor author={blog[0]?.attributes?.author} />  -->
                    </span>

                    <div class="mb-5">
                        <Images
                            src={blog[0]?.attributes?.images?.data?.attributes?.url}
                            alt={blog[0]?.attributes?.title}
                            imageWidth={820}
                            imageHeight={550}
                        />
                    </div>
                    <div class="blog-content">
                        <Fragment set:html={blog[0]?.attributes?.content1} />
                    </div>
                    <!-- {blog[0]?.attributes?.author?.data &&
                        <div class="mt-10 mb-10 md:mb-0">
                            <Author author={blog[0]?.attributes?.author} />
                        </div>
                    } -->
                </div>
                <div class="md:w-2/6 sidebar">
				<BlogCard data={blogCards} />
			</div>
            </div>
        </div>
    </div>
</MainLayout>

<style lang="scss">
	:global(figure.center-image) {
		@apply flex justify-center;
	}
	.blog-bg{
		background: linear-gradient(to bottom, theme('colors.background-bottom-gradient'), theme('colors.background-top-gradient') 300px, theme('colors.body-bg') 900px, theme('colors.body-bg'));
	}
	:global(.blog-content) {
		img {
			@apply w-full;
		}
		:global(a) {
			@apply text-quicklinks-btn-color;
		}
		:global(h1),
		:global(h2),
		:global(h3),
		:global(h4),
		:global(h5),
		:global(h6) {
			@apply mb-4 mt-10;
		}

		:global(ul),
		:global(ol) {
			@apply ml-[35px];
			list-style-image: none;
		}
		:global(li) {
			@apply relative list-none;
			&:not(:last-child) {
				@apply mb-4;
			}
		}
		:global(li::before) {
			@apply absolute -left-5 w-[14px] h-[14px] top-[50%];
			content: '';
			background: url('../../assets/circle-chevron-right.svg') no-repeat center center/cover;
			transform: translate(0, -50%);
		}
	}

	:global(.sidebar) {
		:global(.blog-card) {
			@apply mb-[10px];
		}
	}
</style>
