---

import dayjs from 'dayjs'
import Icon from 'astro-icon'
import type { CasinoData, AuthorCasinoAttributes } from "../../../interfaces/common/types"
import type { TranslationData } from "../../../interfaces/common/types.ts"
import { getTranslations } from "../../../stores/addTranslations.ts"
import { welcomeBonus, noDepositBonus } from '../../../lib/casinoBonusLayout'
import { urlTranslate } from '../../../utils/data-store.util'

// Components
import Link from "../helpers/link.astro"
import ReadOnlyRating from "../helpers/readOnlyRatings.astro"
import Images from '../helpers/images.astro'

// Tailwind Gradient Object for Dynamic Classes
const badgesOptions = ([
    "bg-gradient-to-b from-gold-tag-t-gradient to-gold-tag-b-gradient",
    "bg-gradient-to-b from-silver-tag-t-gradient to-silver-tag-b-gradient text-body-text",
    "bg-gradient-to-b from-bronze-tag-t-gradient to-bronze-tag-b-gradient",
])

const translationStore: TranslationData = getTranslations.get()

const { casinos } = Astro.props

const PUBLIC_SITE_ID = import.meta.env.SITE_ID;

---

<div class="table-wrapper bg-grey-100 rounded-[6px] overflow-hidden">
	<table class="w-full mb-2.5 overflow-hidden rounded-[6px] border-spacing-0 border-collapse">
		{
            <>
                <thead class="hidden border-l-[12px] border-r-[12px] border-l-casino-table-header-bkg border-r-casino-table-header-bkg md:table-row-group">
                    <tr class="border-b-[12px] border-b-grey-100">
                        <th scope="col" class="px-3">{translationStore.casinoTableHeadingCasinos}</th>
                        <th scope="col" class="px-3">{translationStore.casinoTableHeadingRating}</th>
                        <th scope="col" class="px-3">{translationStore.casinoTableHeadingBonus}</th>
                        <th scope="col" class="px-3">{translationStore.withoutDeposit}</th>
                        <th scope="col" class="px-3">{translationStore.casinoTableHeadinRegister}</th>
                    </tr>
                </thead>
                <tbody class="text-casino-table-text">
                    { 
                        casinos && casinos.map((casino: CasinoData | AuthorCasinoAttributes, i: number) => (
                            <tr class="flex flex-wrap md:table-row border-[12px] border-grey-100 bg-white">
                                <td class="casino-logo w-1/2 md:w-auto relative overflow-hidden">
                                    {
                                        ((casino as CasinoData)?.attributes?.Badges ?? (casino as AuthorCasinoAttributes)?.Badges) 
                                        ? <span class="z-10 rotate-45 absolute exclusive-badge text-white text-xs px-[36.4px] uppercase top-[25px] -right-[40px]">{translationStore.exclusive}</span>
                                        : ((casino as CasinoData)?.attributes?.publishedAt ?? (casino as AuthorCasinoAttributes)?.publishedAt) && dayjs().diff(((casino as CasinoData)?.attributes?.publishedAt ?? (casino as AuthorCasinoAttributes)?.publishedAt), 'day') <= 14 
                                        ? <span class="z-10 rotate-45 absolute new-casino-badge text-white text-xs px-[36.4px] uppercase top-[25px] -right-[40px]">{translationStore.newCasino}</span>
                                        :<></>
                                    }
                                    <div class:list={["h-full px-3 py-2 bg-white rounded-tl-lg md:rounded-bl-lg relative", i === 0 ? 'casino-logo__first' : i === 1 ? 'casino-logo__second' : i === 2 ? 'casino-logo__third' : '']}>
                                        
                                    {i <= 2 && <span class:list={["casino-logo__tag w-[28px] h-6 absolute flex justify-center items-center p-[2px] top-0 left-[18px] rounded-bl rounded-br text-white text-sm font-bold bg-gradient-to-b"]}>#{i + 1}</span>}
                                        
                                        <Link
                                            href={`${(casino as CasinoData)?.attributes?.casinoBonus?.bonusUrl ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusUrl}`}
                                            classes={`block rounded border`}
                                            type="external"
                                            rel="sponsored"
                                        >
                                            <Images src={(casino as CasinoData)?.attributes?.images?.data?.attributes.url ?? (casino as AuthorCasinoAttributes)?.images?.url} classes="w-full rounded" alt={(casino as CasinoData)?.attributes?.title ?? (casino as AuthorCasinoAttributes)?.title} imageWidth={230} imageHeight={100} />
                                        </Link>
                                    </div>
                                </td>
                                <td class="text-center w-1/2 md:w-auto">
                                    <div class="px-3 py-3 flex h-full flex-col items-center justify-center bg-white rounded-tr-lg md:rounded-tr-none">
                                        <div class="ratings">
                                            <ReadOnlyRating avgRating={(casino as CasinoData)?.attributes?.ratingAvg ?? (casino as AuthorCasinoAttributes)?.ratingAvg} ratingCount={(casino as CasinoData)?.attributes?.ratingCount ?? (casino as AuthorCasinoAttributes)?.ratingCount} showVotes={true} />
                                        </div>
                                        <div class="flex items-center">
                                            <Link
                                                classes="casino-name text-[14px] text-grey-500 mr-[11px]"
                                                href={`${urlTranslate[PUBLIC_SITE_ID as keyof typeof urlTranslate]['casino-pages']+"/"+ ((casino as CasinoData)?.attributes?.slug || (casino as AuthorCasinoAttributes)?.slug)}/`}
                                            >
                                                <span class="hidden sm:inline-flex sm:pr-1">{(casino as CasinoData)?.attributes?.title ?? (casino as AuthorCasinoAttributes)?.title}</span>
                                                <span class="underline">{translationStore.review}</span>
                                            </Link>
                                            <Icon name="arrow-right" class="w-[14px]" />
                                        </div>
                                    </div>
                                </td>
                                <td class="w-full md:w-auto bg-white">
                                    <div class="flex flex-col items-center justify-center h-full px-3 py-3">
                                        <div
                                            class="text-[#7C838D] text-center text-sm leading-[18px] font-bold mb-2 md:hidden"
                                        >
                                            {translationStore.casinoTableHeadingBonus}
                                        </div>
                                        <Link
                                            href={`${(casino as CasinoData)?.attributes?.casinoBonus?.bonusUrl ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusUrl}`}
                                            classes="flex underline text-center"
                                            type="external"
                                            rel="sponsored"
                                        >
                                             <Fragment set:html={welcomeBonus(casino)} />
                                        </Link>
                                        <span class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]" title={(casino as CasinoData)?.attributes?.bonusSection?.termsConditions ?? (casino as AuthorCasinoAttributes)?.bonusSection?.termsConditions} data-tooltip-placement="auto">
                                            {translationStore.wageringRequirement} 
                                            <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                                        </span>
                                        <div class="wrap-collabsible w-full md:hidden mt-2">
                                            <input id={`welcomeBonus${i}`} class="toggle hidden peer" type="checkbox" />
                                            <label for={`welcomeBonus${i}`} class="flex items-center justify-between text-sm text-grey-500 group" tabindex="0">
                                                {translationStore.wageringRequirement}
                                                <Icon name="angle" class="fill-grey-500 group-open:rotate-180" height="20px" width="18px"/>
                                            </label>
                                            <div class="max-h-0 overflow-hidden transition-all peer-checked:max-h-max">
                                                <div class="content-inner text-grey-500 mt-4">
                                                    <Fragment set:html={(casino as CasinoData)?.attributes?.bonusSection?.termsConditions ?? (casino as AuthorCasinoAttributes)?.bonusSection?.termsConditions} />
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </td>
                                <td class="w-full md:w-auto bg-gradient-to-r from-no-deposit-gradient/20 via-white/30 via-[percentage:30%_70%] to-no-deposit-gradient/20">
                                    <div class="flex flex-col items-center justify-center h-full px-3 py-3">
                                        <div
                                            class="text-[#7C838D] text-center text-sm leading-[18px] font-bold mb-2 md:hidden"
                                        >
                                            {translationStore.withoutDeposit}
                                        </div>
                                        {
                                            noDepositBonus(casino)?.bonus ?
                                            <Link
                                                href={`${(casino as CasinoData)?.attributes?.casinoBonus?.bonusUrl ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusUrl}`}
                                                classes="flex underline text-center"
                                                type="external"
                                                rel="sponsored"
                                            >
                                                <Fragment set:html={noDepositBonus(casino)?.bonus} />
                                            </Link>
                                            <span class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]" title={noDepositBonus(casino)?.terms} data-tooltip-placement="auto">
                                                {translationStore.wageringRequirement} 
                                                <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                                            </span>
                                            <div class="wrap-collabsible w-full md:hidden mt-2">
                                                <input id={`noDepositBonus${i}`} class="toggle hidden peer" type="checkbox" />
                                                <label for={`noDepositBonus${i}`} class="flex items-center justify-between text-sm text-grey-500 group peer-checked:open" tabindex="0">
                                                    {translationStore.wageringRequirement}
                                                    <Icon name="angle" class="fill-grey-500 group-[.open]:rotate-180" height="20px" width="18px"/>
                                                </label>
                                                <div class="max-h-0 overflow-hidden transition-all peer-checked:max-h-max">
                                                    <div class="content-inner text-grey-500 mt-4">
                                                        <Fragment set:html={noDepositBonus(casino)?.terms} />
                                                    </div>
                                                </div>
                                            </div> :
                                            <span> - </span>
                                        }
                                    </div>
                                </td>

                                <td class="w-full !border-l-0 md:w-auto">
                                    <div class="h-full py-3 bg-white rounded-tr-none rounded-br-lg rounded-bl-lg md:rounded-tr-lg md:rounded-bl-none">
                                        <div class="h-full px-3 flex flex-col justify-end items-center sm:justify-center">
                                            {((casino as CasinoData)?.attributes?.casinoBonus?.bonusCode ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusCode) && <div class="mb-[7px] text-[#212529] text-[14px] font-bold">{translationStore.bonusCode}</div>}
                                            {((casino as CasinoData)?.attributes?.casinoBonus?.bonusUrl ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusUrl )&&
                                                <Link
                                                    href={`${(casino as CasinoData)?.attributes?.casinoBonus?.bonusUrl ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusUrl}`}
                                                    classes="btn btn-misc uppercase text-white w-full mb-[7px] font-extrabold"
                                                    type="external"
                                                    rel="sponsored"
                                                    text={((casino as CasinoData)?.attributes?.casinoBonus?.bonusCode ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusCode) ? ((casino as CasinoData)?.attributes?.casinoBonus?.bonusCode ?? (casino as AuthorCasinoAttributes)?.casinoBonus?.bonusCode) : translationStore.visitSite}
                                                />
										    }
                                            <span class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]" title={(casino as CasinoData)?.attributes?.termsAndConditions?.copy ?? (casino as AuthorCasinoAttributes)?.termsAndConditions?.copy} data-tooltip-placement="auto">
                                                {translationStore.termsConditions} 
                                                <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                                            </span>
                                            <div class="wrap-collabsible w-full md:hidden mt-2">
                                                <input id={`bonus${i}`} class="toggle hidden peer" type="checkbox" />
                                                <label for={`bonus${i}`} class="flex items-center justify-between text-sm text-grey-500 group" tabindex="0">
                                                    {translationStore.wageringRequirement}
                                                    <Icon name="angle" class="fill-grey-500 group-open:rotate-180" height="20px" width="18px"/>
                                                </label>
                                                <div class="max-h-0 overflow-hidden transition-all peer-checked:max-h-max">
                                                    <div class="content-inner text-grey-500 mt-4">
                                                        <Fragment set:html={(casino as CasinoData)?.attributes?.termsAndConditions?.copy ?? (casino as AuthorCasinoAttributes)?.termsAndConditions?.copy} />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </>
		}
    </table>
</div>

<style lang="postcss">
    table {
        thead {
            th {
                @apply text-white text-base text-center bg-casino-table-header-bkg font-bold capitalize py-[11px]
            }
        }

        tbody {
            tr {
                td {
                    @apply rounded-none md:rounded-lg p-0 h-auto md:h-[120px] md:max-w-[256px] xl:min-w-[170px] first:bg-grey-100 last:bg-grey-100;
                    &.casino-logo {
                        :global(a) {
                            @apply border border-[transparent];
                        }
                        .casino-logo__first {
							:global(a) {
								background: linear-gradient(to bottom, #ffd976, #ffbb38);
							}
							.casino-logo__tag {
								background: linear-gradient(to bottom, #ffd976, #ffbb38);
								box-shadow: 0px 0px 4px #ffbd3b, 0px 1px 6px rgba(16, 24, 40, 0.1);
							}
						}
                        .casino-logo__second {
							:global(a) {
								background: linear-gradient(to bottom, #dbe5ef, #b1bbc6);
							}
							.casino-logo__tag {
								background: linear-gradient(to bottom, #dbe5ef, #b1bbc6);
								box-shadow: 0px 0px 4px #d7e1eb, 0px 1px 6px rgba(16, 24, 40, 0.1);
							}
						}
						.casino-logo__third {
							:global(a) {
								background: linear-gradient(to bottom, #de7d45, #9b4e22);
							}
							.casino-logo__tag {
								background: linear-gradient(to bottom, #de7d45, #9b4e22);
								box-shadow: 0px 0px 4px #d77842, 0px 1px 6px rgba(16, 24, 40, 0.1);
							}
						}
                    }
                }
            }
        }
    }
</style>