---
const { author } = Astro.props;
import TransformImage from "./images.astro";
import Link from "./link.astro";

const lcFirstName = author?.data?.attributes?.firstName?.toLowerCase();
const lcLastName = author?.data?.attributes?.lastName?.toLowerCase();
---

<div
  class="flex items-center gap-2 sub-header text-[0.6875em] italic capitalize"
>
  <span class="block">-</span>
  <span class="block">Scritto da</span>

  <Link
    href="{urlTranslate[PUBLIC_SITE_ID]['author-page']}/{lcFirstName}.{lcLastName}"
  >
    <div class="flex gap-2 items-center hover:underline">
      <div class="w-[20px] h-[20px] border border-white rounded-full">
        <TransformImage
          imageUrl={author?.data?.attributes?.photo?.data?.attributes.url}
          imageWidth={20}
          imageHeight={20}
          imageClass="providerImage rounded-full"
          imageAlt="{author?.data?.attributes?.firstName} {author?.data?.attributes
                        ?.lastName} photo"
          imageResponsive={false}
        />
      </div>
      <div class="cursor-pointer">
        {author?.data?.attributes?.firstName}
        {author?.data?.attributes?.lastName}
      </div>
    </div>
  </Link>
</div>
