---

const { author } = Astro.props;
import { urlTranslate } from "../../../utils/data-store.util";
import TransformImage from "./images.astro";
import Link from "./link.astro";

const siteID = import.meta.env.SITE_ID
const siteURL = import.meta.env.FULL_URL
const authorLink = `${siteURL}${urlTranslate[siteID as keyof typeof urlTranslate]['author-page']}/${author?.data?.attributes?.firstName?.toLowerCase()}.${author?.data?.attributes?.lastName?.toLowerCase()}` 

---

<div
  class="flex items-center gap-2 sub-header text-[0.6875em] italic capitalize"
>
  <span class="hidden md:block">-</span>
  <span class="block">Scritto da</span>
  <Link
    href={authorLink}
  >
    <div class="flex gap-2 items-center hover:underline">
      <div class="w-[20px] h-[20px] border border-white rounded-full">
        <TransformImage
          src={author?.data?.attributes?.photo?.data?.attributes.url}
          imageWidth={20}
          imageHeight={20}
          classes="providerImage rounded-full"
          alt={author?.data?.attributes?.firstName+' '+author?.data?.attributes
                        ?.lastName+' photo'}
          imageResponsive={false}
        />
      </div>
      <div class="cursor-pointer">
        {author?.data?.attributes?.firstName}
        {author?.data?.attributes?.lastName}
      </div>
    </div>
  </Link>
</div>
