---
import Image from "../helpers/images.astro";
import { SVG } from "splendid-ui/svelte";
import type { ComponentLink } from "../../../interfaces/common/types.ts"

const {
  text,
  href,
  image,
  icon,
  isFilled = true,
  classes,
  ...rest
} = Astro.props as ComponentLink;
---

<a href={href} class:list={["link", classes, { filled: isFilled }]} {...rest}>
  {
    icon && icon.side === "left" && (
      <SVG icon={icon.name} height={icon.height} />
    )
  }
  {
    image && (
      <Image
        src={image.src}
        orignalHeight={image.originalHeight}
        originalWidth={image.originalWidth}
        imageHeight={image.imageHeight}
        imageWidth={image.imageWidth}
        alt={image.alt}
        classes={image.classes}
      />
    )
  }
  {text}
  {
    icon && icon.side === "right" && (
      <SVG icon={icon.name} height={icon.height} />
    )
  }
</a>
