---
// First and Third Party Plugins
import { Link } from "astro-link";
import { generatePagination } from "../../../utils/utilities.util";

const { currPage = 1, pageCount, path, translationStore } = Astro.props;

const arrPages = generatePagination(currPage, pageCount);
---

{
  pageCount > 1 && (
    <nav aria-label="page navigation" class="w-full mt-3">
      <ul class="flex pagination justify-center">
        {currPage !== 1 && (
          <li class="hidden sm:flex">
            <Link
              class="px-3 py-1.5 border border-pagination-border-color bg-pagination-bg-color text-link-color hover:text-link-hover-color hover:bg-pagination-hover-bg transition-colors ease-in-out duration-150 rounded-l-md"
              href={`${path}${currPage === 2 ? "" : "/p" + (currPage - 1)}/`}
            >
              {translationStore?.paginationFirst}
            </Link>
          </li>
        )}
        {arrPages.map((i) => (
          <li
            class={`group ${(currPage === i || i === "...") && "disabled"} ${
              i !== "..." && "default"
            }`}
          >
            <Link
              class={`relative uppercase block px-3 py-1.5 text-link-color bg-pagination-bg-color border border-pagination-border-color hover:text-link-hover-color hover:bg-pagination-hover-bg group-first:rounded-tl-md group-first:rounded-bl-md transition-colors ease-in-out duration-150
                    group-[.disabled]:pointer-events-none group-[.disabled]:text-pagination-disabled-color group-[.disabled.default]:bg-pagination-disabled-bg`}
              href={i === "..." ? "#" : `${path}${i === 1 ? "" : "/p" + i}/`}
            >
              {i}
            </Link>
          </li>
        ))}
        {currPage !== pageCount && (
          <li class="hidden sm:flex">
            <Link
              class="px-3 py-1.5 border border-pagination-border-color bg-pagination-bg-color text-link-color hover:text-link-hover-color hover:bg-pagination-hover-bg transition-colors ease-in-out duration-150 rounded-r-md"
              href={`${path}/p${currPage + 1}/`}
            >
              {translationStore?.paginationLast}
            </Link>
          </li>
        )}
      </ul>
    </nav>
  )
}
