---
// First & Third Party Plugins
import { Link } from "astro-link";

// Helpers
import Images from "../helpers/images.astro";

// Components
import Navigation from "../navigation/navigation.svelte";
import type { MenuItem } from "../../../interfaces/menu";

const { mainNavigation, logo, subNavigation, translationStore, countryCode } =
  Astro.props;
---

<nav
  class="mx-auto h-16 flex xl:container relative items-center justify-between p-2"
  aria-label="Global"
>
  <div
    class="absolute left-1/2 -translate-x-2/4 lg:translate-x-0 lg:relative lg:left-auto flex lg:flex-1"
  >
    <Link href="/">
      <span class="sr-only">{import.meta.env.SITE_NAME}</span>
      <Images
        classes={import.meta.env.SITE_ID === "csi" ? "w-[130px] md:w-fit" : ""}
        src={logo?.data?.attributes?.url}
        alt=`${import.meta.env.SITE_NAME} Logo`
        originalHeight={logo?.data?.attributes?.height}
        originalWidth={logo?.data?.attributes?.width}
        imageHeight={50}
        imageWidth={0}
      />
    </Link>
  </div>
  <Navigation
    mainNavigation={mainNavigation}
    {translationStore}
    {countryCode}
    client:load
  />
</nav>

{
  subNavigation.length > 0 && (
    <nav
      class="lg:hidden flex lg:space-x-8 lg:py-2 h-[36px] justify-center bg-subNavbar-bkg"
      aria-label="Global"
    >
      {subNavigation.map((nav: MenuItem, i: number) => (
        <Link
          href={nav?.attributes?.url}
          class="bg-gray-900 text-navbar-text uppercase rounded-md py-2 px-3 inline-flex items-center text-xs font-medium gap-2"
          aria-current="page"
        >
          <Images
            classes={
              import.meta.env.SITE_ID === "csi" ? "w-[130px] md:w-fit" : ""
            }
            src={`${nav.attributes.images.data?.attributes.url}`}
            alt={nav?.attributes?.title + "  image"}
            originalHeight={nav.attributes.images.data?.attributes?.height}
            originalWidth={nav.attributes.images.data?.attributes?.width}
            imageHeight={15}
            imageWidth={i === 0 ? 19 : 15}
          />
          {nav?.attributes?.title}
        </Link>
      ))}
    </nav>
  )
}
