---
import Icon from "astro-icon";
import Link from "../helpers/link.astro";
import Image from "../helpers/images.astro";

const { overview, overviewType } = Astro.props;
---

<Link href={`${overview?.url}/`} class="btn btn-secondary blog-btn rounded-lg">
  {
    overviewType === "Version 1" ? (
      <div
        class="overview-box"
        style={
          "background-image: url(" +
          overview?.card_img?.data?.attributes?.url +
          "); background-repeat: no-repeat; background-size: cover; background-position: center; border-radius: 10px;"
        }
      >
        <div class="title relative flex justify-center h-full items-center rounded-lg p-5 text-white z-40 font-bold text-[10px] md:text-[20px] bold">
          {overview?.title}
          <Icon name="chevron-right" height="25px" />
        </div>
        <div class="absolute rounded-lg h-full left-0 top-0 w-full bg-[linear-gradient(180deg,rgba(47,18,58,0)_0%,rgba(31,18,58,0.6)_37.79%)]" />
      </div>
    ) : (
      <div class="overview-box-2">
        <Image
          src={overview?.card_img?.data?.attributes?.url}
          imageWidth={80}
          imageHeight={80}
          classes="img-fluid rounded-[6px]"
          alt={overview?.title}
        />
        <div class="relative text-center md:text-left flex justify-center h-full items-center rounded-lg text-white z-40 text-[12px]">
          {overview?.title}
        </div>
      </div>
    )
  }
</Link>

<style>
  .overview-box {
    @apply py-5 md:py-10 font-lato bg-no-repeat bg-center bg-cover;
    background: rgba(1, 87, 155, 0.2);
    backdrop-filter: blur(1px);
    border-radius: 16px;
    border: 1px solid var(--Effects-blur-stroke, rgba(255, 255, 255, 0.3));
    box-shadow:
      0px 4px 6px -1px rgba(16, 24, 40, 0.1),
      0px 2px 4px -2px rgba(16, 24, 40, 0.1);
  }

  .overview-box-2 {
    @apply flex flex-col gap-5 md:flex-row items-center py-5 md:py-2.5 px-2.5 font-lato border border-white rounded-lg;
  }

  .title {
    text-shadow: 0px 0px 12px rgba(63, 230, 252, 0.6);
  }
</style>
