---
import Icon from "astro-icon";
import Link from "../helpers/link.astro";
import Image from "../helpers/images.astro";

const { overview, overviewType } = Astro.props;
---

<Link href={`${overview?.url}/`} class="btn btn-secondary blog-btn">
  {
    overviewType === "Version 1" ? (
      <div
        class="overview-box"
        style={
          "background-image: url(" +
          overview?.card_img?.data?.attributes?.url +
          "); background-repeat: no-repeat; background-size: cover;"
        }
      >
        <div class="relative flex justify-center h-full items-center rounded-lg p-5 text-white z-40 font-bold text-[10px] md:text-[20px] bold">
          {overview?.title}
          <Icon name="chevron-right" height="25px" />
        </div>
        <div class="absolute pointer-events-none h-full left-0 top-0 w-full bg-[linear-gradient(180deg,rgba(47,18,58,0)_0%,rgba(31,18,58,0.6)_37.79%)]"></div>
      </div>
    ) : (
      <div class="overview-box-2">
        <Image
          src={overview?.card_img?.data?.attributes?.url}
          imageWidth={40}
          imageHeight={40}
          classes="img-fluid rounded-[6px]"
          alt={overview?.title}
        />
        <div class="relative flex justify-center h-full items-center rounded-lg p-5 text-white z-40 text-[10px]">
          {overview?.title}
        </div>
      </div>
    )
  }
</Link>

<style>
  .overview-box {
    @apply py-5 md:py-10 font-lato bg-no-repeat bg-center bg-cover;
    backdrop-filter: blur(1px);
    border-radius: 16px;
  }

  .overview-box-2 {
    @apply flex items-center py-5 px-5 font-lato border border-white;
  }
</style>
