---
// Types
import type { CasinoListData } from "../../../interfaces/common/types";

// Components
import CasinoTable from "../casino/casinoTable.astro";
import Link from "../helpers/link.astro";

const { data, isCustom = false, isTop = false, translationStore } = Astro.props;

const createCustomCasinos = (casinos: CasinoListData[]) => {
  return casinos
    .map((item) => item.casino.data)
    .filter((casino) => casino !== null); // filter out null values
};

const customCasinos = isCustom && createCustomCasinos(data?.casinosList);
---

{
  !isTop ? (
    <CasinoTable
      casinos={isCustom ? customCasinos : data.casinos.data}
      link={data?.link}
      {translationStore}
      showCasinoTableHeader={data?.showCasinoTableHeader}
    />
  ) : (
    <div>
      <div class="relative xl:container px-2 z-20">
        {data.casinoTableTitle && (
          <div class="mb-[30px]">
            <h2 class="game-list-title">{data.casinoTableTitle}</h2>
          </div>
        )}
        <div class="pt-2.5">
          <div class="">
            <CasinoTable
              casinos={isCustom ? customCasinos : data.casinos.data}
              link={data?.link}
              {translationStore}
              showCasinoTableHeader={data?.showCasinoTableHeader}
            />
          </div>
        </div>
      </div>
    </div>
  )
}

<style>
  .game-list-title {
    text-shadow: 0px 0px 12px rgba(63, 230, 252, 0.6);
  }
</style>
