---
// export const prerender = true;
import qs from "qs";

// Layouts

import MainLayout from "../layouts/MainLayout.astro";

// First and Third Pary Plugins
import Icon from "astro-icon";

import type { Casinopage } from "../../interfaces/casinopage";
import type { Game } from "../../interfaces/games";
import fetchApi from "../../lib/strapi";
import { casinosQs } from "../../qs/casinos";
import { gamesQs } from "../../qs/games.ts";

import { getTranslations } from "../../utils/api-requests";
import GameListBlock from "../components/blocks/gameListBlock.astro";
import CasinoTable from "../components/casino/casinoTable.astro";

const translationStore = await getTranslations();

const gamesQuery = qs.stringify(
  gamesQs({
    limit: 12,
    sort: "createdAt:desc",
    page: 1,
    providers: [],
    categories: [],
  }),
  { encodeValuesOnly: true }
);

const games = await fetchApi<Game[]>({
  endpoint: "games",
  wrappedByKey: "data",
  query: `?${gamesQuery}`,
});

const query = qs.stringify(
  casinosQs({
    limit: 6,
    sort: "ratingAvg:desc",
    providers: [],
    ids: [],
    bonusKey: "",
    condition: "",
    amount: "",
    wagering: "",
    speed: "",
  }),
  { encodeValuesOnly: true }
);

// Request to the Fetch Function to get page data from API
const casinos = await fetchApi<Casinopage[]>({
  endpoint: "casinos",
  wrappedByKey: "data",
  query: `?${query}`,
});

// Create Canonical URL
const canonical: string = `${import.meta.env.PUBLIC_FULL_URL}`;

const seo = {
  pageTitle: "404 Error",
  metaDescription: "404 Error",
  url: canonical,
};
---

<MainLayout seoData={seo}>
  <div class="xl:container content-auto px-2 pt-5">
    <div class="flex flex-col items-center justify-center md:flex-row gap-x-8">
      <Icon
        name="404"
        width="100%"
        class="inline-block m-[2px]"
        fill="#01579B"
      />
    </div>
    <div class="mt-3">
      <h2>{translationStore?.pageNotFound}</h2>
    </div>

    <div class="mt-10">
      <h2>{translationStore?.favoriteGames}</h2>
      <div class="mt-3 d-flex flex-wrap">
        <GameListBlock data={games} {translationStore} />
      </div>
    </div>

    <div class="mt-10">
      <h2>Casino Online</h2>
      <div class="mt-3 d-flex flex-wrap">
        <CasinoTable casinos={casinos} {translationStore} />
      </div>
    </div>
  </div>
</MainLayout>
