---

import qs from 'qs'

import type { Homepage } from "../../interfaces/homepage.ts"
import type { Block, BlogBlockTypes, HomeGameListBlock, DynamicComponent } from "../../interfaces/common/types.ts"
import type { Game } from "../../interfaces/games.ts"
import type { Blog } from "../../interfaces/blog.ts"

import fetchApi from "../../lib/strapi";

import { sortOptions } from "../../stores/sortFilters.ts"
import { homepageQs } from "../../qs/homepage.ts"
import { gamesQs } from "../../qs/games.ts"
import { blogsQs } from "../../qs/blogs.ts"


import MainLayout from '../layouts/MainLayout.astro';

const sortStore = sortOptions.get()

const query = qs.stringify(homepageQs(), {encodeValuesOnly: true})

const homepage = await fetchApi<Homepage>({
	endpoint: 'homepage',
    wrappedByKey: 'data',
    query: `?${query}`
})

//Type Guards for the find functions
const isBlogBlockTypes = (block: Block): block is BlogBlockTypes => {
	return block.__component === 'homepage.home-blog-list';
}

const isHomeGameListBlock = (block: Block): block is HomeGameListBlock => {
	return block.__component === 'homepage.home-game-list';
}

// get the games and blog parameters from the homepage block section
const blogBlock = homepage.attributes.blocks.find(isBlogBlockTypes)
	
const gamesBlock = homepage.attributes.blocks.find(isHomeGameListBlock)

//Get the providers in an array
const gameProviders = gamesBlock && gamesBlock.providers.map(item => item.slotProvider.data.attributes.slug);

// get the qs query for the blogs and the games
const gamesQuery = gameProviders && gameProviders.map(provider => qs.stringify(gamesQs(gamesBlock?.numberOfGames ?? 6, sortStore[gamesBlock?.sortBy ?? 'Newest'], undefined, provider, undefined), {encodeValuesOnly: true}))
const blogsQuery = qs.stringify(blogsQs(undefined, blogBlock?.numOfBlogs ?? 6, "createdAt:desc"), {encodeValuesOnly: true})

const fetchHomepageBlogs: Promise<Blog[]> = fetchApi({
    endpoint: 'blogs',
    wrappedByKey: 'data',
    query: `?${blogsQuery}`
});

let fetchHomepageGames: Promise<Game[][]> = Promise.resolve([]);

if (gamesQuery) {
    fetchHomepageGames = Promise.all(gamesQuery.map((query: string) => {
        return fetchApi<Game[]>({
            endpoint: 'games',
            wrappedByKey: 'data',
            query: `?${query}`
        });
    }));
} else {
    console.error("No Query was submitted")
}

const [homepageBlogs, homepageGames] = await Promise.all([fetchHomepageBlogs, fetchHomepageGames]);

// combining games array
const combinedGamesArray: Game[] = homepageGames.flat()

const dynamicComponents: DynamicComponent[] = homepage.attributes.blocks.map((block: Block): DynamicComponent | undefined => {
	switch (block.__component) {
		case 'shared.introduction-with-image':
			return {
				location: 'general',
				name: 'introWithImage',
				extension: 'astro'
			}
		case 'homepage.home-blog-list':
			return {
				location: 'blocks',
				name: 'blogListBlock',
				extension: 'astro'
			}
		case 'homepage.home-game-list':
			return {
				location: 'blocks',
				name: 'gameListBlock',
				extension: 'astro'
			}
		case 'shared.single-content':
			return {
				location: 'blocks',
				name: 'contentBlock',
				extension: 'astro'
			}
		case 'homepage.home-casino-list':
			return {
				location: 'blocks',
				name: 'casinoListBlock',
				extension: 'astro'
			}
		default:
			return undefined
				
	}
}).filter((component): component is DynamicComponent => component !== undefined);

const loadComponents = async (componentsArray: DynamicComponent[]): Promise<any[]> => {
    const components = await Promise.all(componentsArray.map(async entry => {
        if (entry.extension === 'astro') {
            // Handle Astro components
            // Depending on how Astro handles dynamic imports, this might need to be adjusted.
            const component = await import(`../components/${entry.location}/${entry.name}.astro`);
            return component.default || component;
        } else if (entry.extension === 'svelte') {
            // Handle Svelte components
            const component = await import(`../components/${entry.location}/${entry.name}.svelte`);
            return component.default || component;
        }
        return null;
    }));

    return components.filter(component => component !== null);
};

const Components = await loadComponents(dynamicComponents)

---

<MainLayout pageTitle="Welcome to Astro.">
	<div class="featured-background">
		{
			Components.map((Component, i) => (
				i < 2 && <Component data={
						homepage?.attributes?.blocks[i]?.__component === 'homepage.home-game-list' 
						? combinedGamesArray 
						: homepage?.attributes?.blocks[i]?.__component === 'homepage.home-blog-list' 
						? homepageBlogs : homepage.attributes.blocks[i]
					} timeDate={homepage.attributes.updatedAt}/>
		))
		}
	</div>
	<div class="xl:container content-auto px-2 pt-5">
		{
			Components.map((Component, i) => (
				i > 1 && <Component data={
						homepage?.attributes?.blocks[i]?.__component === 'homepage.home-game-list' 
						? combinedGamesArray 
						: homepage?.attributes?.blocks[i]?.__component === 'homepage.home-blog-list' 
						? homepageBlogs : homepage.attributes.blocks[i]
					} timeDate={homepage.attributes.updatedAt}/>
		))
		}
	</div>
</MainLayout>
