---

import Icon from 'astro-icon'
import { Link } from 'astro-link'
import dayjs from 'dayjs'

// Types
import type { SportComparison } from "../../../interfaces/common/types.ts"

// Stores

// Helpers
import { noDepositBonus, welcomeBonus } from '../../../lib/casinoBonusLayout'

// Components
import AstroCollapsible from "../helpers/collapsible.astro"
import Images from '../helpers/images.astro'
import ReadOnlyRating from "../helpers/readOnlyRatings.astro"
const PUBLIC_SITE_ID = import.meta.env.SITE_ID;
import { urlTranslate } from '../../../utils/data-store.util'

// Tailwind Gradient Object for Dynamic Classes
const badgesOptions = ([
    "bg-gradient-to-b from-gold-tag-t-gradient to-gold-tag-b-gradient",
    "bg-gradient-to-b from-silver-tag-t-gradient to-silver-tag-b-gradient text-body-text",
    "bg-gradient-to-b from-bronze-tag-t-gradient to-bronze-tag-b-gradient",
])

const { data, isCustom = false, translationStore } = Astro.props

// Snippet of Code to handle the differences betwen Custom Sport Comparison and Sport Pages Sport Comparison
const sports = isCustom === true ? data.sports.map((item: SportComparison) => item.sport.data) : data

---
<div class="rounded-[6px]">
	<div class="text-center px-3 py-[11px] bg-casino-table-header-bkg rounded-tr-[6px] rounded-tl-[6px] md:text-start">
		<span class="text-[20px] leading-[24px] font-bold text-white">{translationStore?.casinoTableHeading}</span>
	</div>
	<div class="p-3 rounded-br-[6px] rounded-bl-[6px] bg-grey-100 gap-y-3 md:flex md-gap-y-0 md:gap-x-3">
        {
            sports.map((sportData: any, i: number) => (

                <div class="flex flex-col basis-1 md:basis-1/3 casino-logo">
                    <div class="">
                        {
                           sportData?.attributes?.Badges 
                            ? <span class="z-10 rotate-45 absolute exclusive-badge text-white text-xs px-[36.4px] uppercase top-[25px] -right-[40px]">{translationStore?.exclusive}</span>
                            :sportData?.attributes?.publishedAt && dayjs().diff(sportData?.attributes.publishedAt, 'day') <= 14 
                            ? <span class="z-10 rotate-45 absolute new-casino-badge text-white text-xs px-[36.4px] uppercase top-[25px] -right-[40px]">{translationStore?.newCasino}</span>
                            :<></>
                        }
                        <div
                            class:list={["h-full px-3 py-2 bg-white rounded-tl-lg relative", i === 0 ? 'casino-logo__first' : i === 1 ? 'casino-logo__second' : i === 2 ? 'casino-logo__third' : '']}
                            >
                            
                            {i <= 2 && <span class={`casino-logo__tag w-[28px] h-6 absolute flex justify-center items-center p-[2px] top-0 left-[18px] rounded-bl rounded-br text-white text-sm font-bold bg-gradient-to-b ${badgesOptions[i]}`}>#{i + 1}</span>}
                            
                            <Link
                                href={`${sportData?.attributes?.sportBonus?.bonusUrl}/`}
                                class={`block rounded border border-[transparent] bg-gradient-to-b ${i <= 2 && badgesOptions[i]}`}
                                type="external"
                                rel="sponsored"
                            >
                                <Images 
                                    classes={'w-full rounded min-h-[89.6px]'}
                                    src={sportData?.attributes.images?.data?.attributes.url}
                                    alt={sportData?.attributes.title}
                                    imageWidth={230}
                                    imageHeight={90}
                                    imageWatermark="(giochigatsby,legal_combined_sm_50856b6eb8.svg,-2,-5,10)"
                                />
                            </Link>
                            
                        </div>
                    </div>
                    <div class="flex flex-col items-center bg-white justify-center pb-3">
                        <div class="ratings">
                            <ReadOnlyRating
                                avgRating={sportData?.attributes.ratingAvg} ratingCount={sportData?.attributes.ratingCount}
                                showVotes={true}
                                {translationStore} />
                        </div>
                        <div class="flex items-center">
                            <Link
                                class="flex text-[14px] space-x-4 text-grey-500 mr-[11px]"
                                href={`${urlTranslate[PUBLIC_SITE_ID as keyof typeof urlTranslate]['sport-pages']}/${sportData?.attributes?.slug}/`}
                            >
                                <span class="underline">{translationStore?.review}</span>
                                <Icon name="arrow-right" class="w-[14px] fill-grey-500" />
                            </Link>
                        </div>
                    </div>
                    <div class="flex flex-col border-t border-grey-300 bg-white items-center justify-center h-full px-3 py-6">
                        <div class="text-[#7C838D] text-center text-sm leading-[18px] font-bold">
                            {translationStore?.casinoTableHeadingBonus}
                        </div>
                        <Link
                            href={`${sportData?.attributes.sportBonus?.bonusUrl}/`} class="flex underline text-center font-bold my-4" type="external" rel="sponsored"
                            set:html={welcomeBonus(sportData, translationStore?.reloadBonus)}>
                        </Link>
                        <span
                            class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]"
                            title={sportData?.attributes.bonusSection?.termsConditions}
                            data-tooltip-placement="left">
                            {translationStore?.wageringRequirement} 
                            <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                        </span>
                        
                        <div class="w-full">
                            <AstroCollapsible
                                id={`welcomeBonus${i}`}
                                label={translationStore?.wageringRequirement}
                                containerClass={'w-full md:hidden mt-2'}
                                labelClass={'text-sm items-center text-grey-500'}
                                icon={{name: 'angle', height: '20px', width: '20px', classes: 'fill-grey-500'}}
                                content={sportData?.attributes.bonusSection?.termsConditions}>
                            </AstroCollapsible>
                        </div>
                    </div>
                    <div class="flex flex-col border-t border-grey-300 bg-gradient-to-r from-no-deposit-gradient/20 via-white/30 via-[percentage:30%_70%] to-no-deposit-gradient/20 items-center justify-center h-full px-3 py-6">
                        <div class="text-[#7C838D] text-center text-sm leading-[18px] font-bold">
                            {translationStore?.withoutDeposit}
                        </div>
                        <Link href={`${sportData?.attributes.sportBonus?.bonusUrl}/`} class="flex underline text-center font-bold my-4" type="external" rel="sponsored">
                            <Fragment
                                set:html={noDepositBonus(
                                    sportData,
                                    {
                                        withoutDeposit: translationStore?.withoutDeposit,
                                        freeSpins: translationStore?.freeSpins})?.bonus
                                    } 
                            />
                        </Link>
                        <span
                            class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]"
                            title={noDepositBonus(sportData, {
                                        withoutDeposit: translationStore?.withoutDeposit,
                                        freeSpins: translationStore?.freeSpins
                                    })?.terms}
                            data-tooltip-placement="left">
                            {translationStore?.wageringRequirement} 
                            <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                        </span>
                        <div class="w-full">
                            <AstroCollapsible
                                id={`no-deposit-bonus${i}`}
                                label={translationStore?.wageringRequirement}
                                containerClass={'w-full md:hidden mt-2'}
                                labelClass={'text-sm items-center text-grey-500'}
                                icon={{name: 'angle', height: '20px', width: '20px', classes: 'fill-grey-500'}}
                                content={noDepositBonus(
                                    sportData,
                                    {
                                        withoutDeposit: translationStore?.withoutDeposit,
                                        freeSpins: translationStore?.freeSpins
                                    }
                                )?.terms}>
                            </AstroCollapsible>
                        </div>
                    </div>
                    <div class="flex flex-col border-t border-grey-300 bg-white items-center justify-center h-full px-3 py-6">
                        <div class="h-full w-full flex flex-col justify-end items-center sm:justify-center">
                            {sportData?.attributes.sportBonus?.bonusCode && <div class="mb-[7px] text-[#212529] text-[14px] font-bold">{translationStore?.bonusCode}</div>}
                            {sportData?.attributes.sportBonus?.bonusUrl &&
                                <Link
                                    href={`${sportData?.attributes.sportBonus?.bonusUrl}/`}
                                    class="btn btn-misc uppercase text-white w-full mb-[7px] font-extrabold"
                                    type="external"
                                    rel="sponsored"
                                >
                                    {sportData?.attributes.sportBonus?.bonusCode ?sportData?.attributes?.sportBonus?.bonusCode : translationStore?.visitSite}
                                </Link>
                            }
                            <span
                                class="hidden md:flex items-center cursor-pointer text-xs text-grey-500 underline mr-[7px]"
                                title={sportData?.attributes.termsAndConditions?.copy}>
                                {translationStore?.termsConditions} 
                                <Icon name="circle-info" width="12px" height="12px" class="fill-text-grey-500 ml-1" />
                            </span>
                            <div class="w-full">
                                <AstroCollapsible
                                    id={`bonus${i}`}
                                    label={translationStore?.termsConditions}
                                    containerClass={'w-full md:hidden mt-2'}
                                    labelClass={'text-sm items-center text-grey-500'}
                                    icon={{name: 'angle', height: '20px', width: '20px', classes: 'fill-grey-500'}}
                                    content={sportData?.attributes.termsAndConditions?.copy}>
                                </AstroCollapsible>
                            </div>
                        </div> 
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style lang="postcss">
    .casino-logo {
        :global(a) {
            @apply border border-[transparent];
        }
        .casino-logo__first {
            :global(a) {
                background: linear-gradient(to bottom, #ffd976, #ffbb38);
            }
            .casino-logo__tag {
                background: linear-gradient(to bottom, #ffd976, #ffbb38);
                box-shadow: 0px 0px 4px #ffbd3b, 0px 1px 6px rgba(16, 24, 40, 0.1);
            }
        }
        .casino-logo__second {
            :global(a) {
                background: linear-gradient(to bottom, #dbe5ef, #b1bbc6);
            }
            .casino-logo__tag {
                background: linear-gradient(to bottom, #dbe5ef, #b1bbc6);
                box-shadow: 0px 0px 4px #d7e1eb, 0px 1px 6px rgba(16, 24, 40, 0.1);
            }
        }
        .casino-logo__third {
            :global(a) {
                background: linear-gradient(to bottom, #de7d45, #9b4e22);
            }
            .casino-logo__tag {
                background: linear-gradient(to bottom, #de7d45, #9b4e22);
                box-shadow: 0px 0px 4px #d77842, 0px 1px 6px rgba(16, 24, 40, 0.1);
            }
        }
}
</style>